@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype\ -\ AvenirNextLTPro-Bold.otf");
}
