@import "./colors";
@import "./breakpoints";
@import "./fonts";

@include mobile {
    .hero {
        
        .hero__video {
            width: 100vw;
            height: 11.43rem;
        }
    }
}
// end of mobile


// start of tablet
@include tablet {
    .hero {
        width: 100%;
        height: 25rem;
        background-color: $black;
        display: flex;
        justify-content: center;

        .hero__video {
            width: 43.75rem;
            height: 100%;
        }
    }
}
// end of tablet



// start of desktop
@include desktop {
    .hero {
        width: 100%;
        height: 33.75rem;
        background-color: $black;
        display: flex;
        justify-content: center;

        .hero__video {
            width: 59rem;
            height: 100%;
            margin-left: 11.25rem;
            margin-right: 11.25rem;
        }
    }
}


