@import "./breakpoints";
@import "./colors";
@import "./fonts";

@include mobile {
  .video__data--link {
    text-decoration: none;
  }
  .video {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;

    &__title {
      font-family: avenir-next-regular;
      font-size: 0.8125rem;
      line-height: 1.125rem;
      color: $silver;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    // videos container
    &__data {
      display: flex;

      &-image {
        border-radius: 4px;
        margin-left: 0;
      }

      &-actual {
        width: 7.5rem;
        height: 4.375rem;
        border-radius: 4px;
        object-fit: cover;
      }

      // videos info container
      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 100%;
        color: inherit;
        text-decoration: none;

        .video__data-title {
          width: 46.5vw;
          margin: 0;
          margin-bottom: 0.5rem;
          font-family: avenir-next-demi;
          font-size: 0.8125rem;
          line-height: 1.125rem;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .video__data-channel {
          margin: 0;
          font-family: avenir-next-regular;
          font-size: 0.875rem;
          line-height: 1.375rem;
          text-decoration: none;
        }
      }
    }
  }
}
// end of mobile

// start of tablet
@include tablet {
  .video__data--link {
    text-decoration: none;
  }
  .video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;

    &__title {
      font-family: avenir-next-regular;
      color: $silver;
      margin-left: 1.5rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }

    // videos container
    &__data {
      display: flex;

      &-image {
        border-radius: 4px;
      }

      &-actual {
        width: 7.5rem;
        height: 4.3rem;
        margin-left: 0;
        border-radius: 4px;
        object-fit: cover;
      }

      // videos info container
      &-info {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        text-decoration: none;
        color: inherit;
        text-decoration: none;

        .video__data-title {
          width: 11.1rem;
          margin: 0;
          font-family: avenir-next-demi;
          font-size: 0.875rem;
          line-height: 1.375rem;
          text-decoration: none;
        }
        .video__data-channel {
          margin: 0;
          font-family: avenir-next-regular;
          font-size: 0.875rem;
          line-height: 1.375rem;
          text-decoration: none;
        }
      }
    }
  }
}
// end of tablet

// start of desktop
@include desktop {
  .video__data--link {
    text-decoration: none;

    .video {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;

      &__title {
        font-family: avenir-next-regular;
        color: $silver;
        margin-left: 1.5rem;
      }

      // videos container
      &__data {
        display: flex;

        &-actual {
          width: 7.5rem;
          height: 4.3rem;
          margin-left: 0;
          border-radius: 4px;
          object-fit: cover;
        }

        // videos info container
        &-info {
          display: flex;
          flex-direction: column;
          margin-left: 1.5rem;
          color: inherit;
          text-decoration: none;

          .video__data-title {
            width: 11rem;
            margin: 0;
            font-family: avenir-next-demi;
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
          .video__data-channel {
            margin: 0;
            font-family: avenir-next-regular;
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
        }
      }
    }
  }
}
