@import "./colors";
@import "./breakpoints";
@import "./fonts";

@include mobile {
  .header {
    height: 10.56rem;

    .head {
      height: 3rem;
      margin-left: 1rem;
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &__logo {
        height: 50%;
      }
    }

    .searchbar {
      width: 18rem;
      height: 3rem;
      border: 1px solid $mercury;
      border-radius: 4px;
      margin-left: 1rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;

      &__icon {
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
      &__input {
        width: 14.5rem;
        height: 2.5rem;
        border: none;
        font-family: avenir-next-regular;
        font-size: 0.875rem;
        line-height: 1.375rem;
        color: $black;
        outline: none;
      }
    }

    .user {
      height: 4rem;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      display: flex;

      &__upload-btn {
        width: 14rem;
        height: 3rem;
        background-color: $brainflix-blue;
        color: $white;
        font-family: avenir-next-regular;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 4px;
        outline: none;
        margin-top: 0.5rem;
        margin-right: 1rem;
      }

      &__upload-btn:hover {
        background-color: $brainflix-hover;
      }

      &__image {
        width: 3rem;
        height: 3rem;
        margin-top: 0.5rem;
        border-radius: 70%;
        object-fit: cover;
      }
    }
  }
}

//  end of mobile

// start of tablet
@include tablet {
  .header {
    height: 5rem;
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    .head {
      height: 3rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &__logo {
        height: 50%;
      }
    } 
    // contains image

    .searchbar {
      width: 100%;
      height: 3rem;
      border: 1px solid $mercury;
      border-radius: 4px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 10.56rem;
      display: flex;
      align-items: center;

      &__icon {
        margin-left: 1rem;
        margin-right: 0.5rem;
      }
      &__input {
        width: 10rem;
        height: 2.5rem;
        border: none;
        font-family: avenir-next-regular;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $black;
        outline: none;
      }

    }

    .user {    // contains button and user image
      height: 4rem;
      margin-left: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: flex;

      &__upload-btn {   
        width: 6.25rem;
        height: 3rem;
        background-color: $brainflix-blue;
        color: $white;
        font-family: avenir-next-regular;
        font-size: 0.875rem;
        line-height: 1.375rem;
        border-radius: 4px;
        outline: none;
        margin-right: 1.5rem;
      }

      &__upload-btn:hover {
        background-color: $brainflix-hover;
      }

      &__image {
        width: 3rem;
        height: 3rem;
        border-radius: 70%;
        object-fit: cover;
      }
    } 
  }
}
// end of tablet










// start of desktop
@include desktop {
    .header {
        height: 5rem;
        display: flex;
        margin-left: 11.25rem;
        margin-right: 11.25rem;

        .head {
            height: 3rem;
            margin-left: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &__logo {
                height: 50%;
            }
        } 
        // contains image

        .searchbar {
            width: 100%;
            height: 3rem;
            border: 1px solid $mercury;
            border-radius: 4px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            margin-left: 31.81rem;
            display: flex;
            align-items: center;

            &__icon {
                margin-left: 1rem;
                margin-right: 0.5rem;
            }
            &__input {
                width: 10rem;
                border: none;
                font-size: 1rem;
                line-height: 1.5rem;
                color: $black;
            }
        }

        .user {    // contains button and user image
            height: 4rem;
            margin-left: 1.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            display: flex;

            &__upload-btn {   
                width: 6.25rem;
                height: 3rem;
                background-color: $brainflix-blue;
                font-family: avenir-next-regular;
                color: $white;
                font-size: 0.875rem;
                line-height: 1.375rem;
                border-radius: 4px;
                outline: none;
                margin-right: 1.5rem;
            }

            &__upload-btn:hover {
              background-color: $brainflix-hover;
            }

            &__image {
                width: 3rem;
                height: 3rem;
                border-radius: 70%;
                object-fit: cover;
            }
        } 
  }
}