@import './breakpoints';
@import './colors';
@import './fonts';


@include mobile {
    .video {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;

        &__title {
            font-family: avenir-next-regular;
            color: $silver;
            margin-left: 1rem;
            margin-right: 1rem;

        }

        // videos container
        &__data {
            display: flex;
            &-actual {
                width: 7.5rem;
                height: 4.3rem;
                margin-left: 0;
            }

            // videos info container
            &-info {
                display: flex;
                flex-direction: column;
                margin-left: 1rem;

                .video__data-title {
                    margin: 0;
                    margin-bottom: .5rem;
                    font-family: avenir-next-demi;
                    font-size: .8125rem;
                    line-height: 1.125rem;

                }
                .video__data-channel {
                    margin: 0;
                    font-family: avenir-next-regular;
                    font-size: .8125rem;
                    line-height: 1.125rem;
                }
            }
        }
    }
}