@import "./colors";
@import "./breakpoints";
@import "./fonts";

@include mobile {
    .video__info {
        margin-left: 1rem;
        margin-right: 1rem;

        .video__title {
            
            &-text {
                margin-top: 2rem;
                margin-bottom: 1rem;
                font-family: avenir-next-bold;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        // end of video title

        .video__data {

            &-subcontainer-one {
                display: flex;
                margin-bottom: 2rem;
                

                .video__data-channel {
                    margin-right: .5rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-demi;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                .video__data-date {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-regular;
                    color: $silver;
                }
            }         
        }
        // end of the video title

        .video__data-views-likes {
            width: 18rem;
            display: flex;
            // border-bottom: 2px solid $mercury;
            

            .video__data-subcontainer-two {
                display: flex;
                display: inline;
                margin-right: 2rem;
                margin-bottom: 1.5rem;

                .video__data-views-icon{
                    margin-right: .5rem;
                }
                .video__data-views-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
             }

            .video__data-subcontainer-three {
                display: flex;
                display: inline;
                margin-bottom: 1.5rem;

                .video__data-likes-icon{
                    margin-right: .5rem;
                }
                .video__data-likes-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
            }
        }
        // end of view and likes containers
    }
}
// end of mobile





// start of tablet
@include tablet {
    .video__info {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 2rem;

        .video__title {
            
            &-text {
                margin-top: 2rem;
                margin-bottom: 1rem;
                font-family: avenir-next-bold;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        // end of video title

        .video__data {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            
            &-subcontainer-one {
                margin-right: 0;
                display: flex;

                .video__data-channel {
                    margin-right: .5rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-demi;
                }
                .video__data-date {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-regular;
                    color: $silver
                }
            }         
        }
        // end of the video title

        .video__data-views-likes {
            display: flex;
            display: inline;
            
            .video__data-subcontainer-two {
                display: flex;
                display: inline;
                margin-right: 1.5rem;

                .video__data-views-icon{
                    margin-right: .5rem;
                }
                .video__data-views-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
             }

            .video__data-subcontainer-three {
                display: flex;
                display: inline;

                .video__data-likes-icon{
                    margin-right: .5rem;
                }
                .video__data-likes-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
            }
        }
        // end of view and likes containers
    }
}
// end of tablet






// start of desktop
@include desktop {
    .video__info {
        width: 44.5rem;
        margin-left: 11.25rem;
        // border-bottom: 2px solid $mercury;

        .video__title {
            
            &-text {
                margin-top: 2rem;
                margin-bottom: 1rem;
                font-family: avenir-next-bold;
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
        // end of video title

        .video__data {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            
            &-subcontainer-one {
                margin-right: 0;
                display: flex;

                .video__data-channel {
                    margin-right: .5rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-demi;
                }
                .video__data-date {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: avenir-next-regular;
                    color: $silver
                }
            }         
        }
        // end of the video title

        .video__data-views-likes {
            display: flex;
            border-style: none;

            .video__data-subcontainer-two {
                display: flex;
                display: inline;
                margin-right: 1.5rem;

                .video__data-views-icon{
                    margin-right: .5rem;
                }
                .video__data-views-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
             }

            .video__data-subcontainer-three {
                display: flex;
                display: inline;

                .video__data-likes-icon{
                    margin-right: .5rem;
                }
                .video__data-likes-num {
                    display: flex;
                    display: inline;
                    font-family: avenir-next-regular;
                }
            }
        }
        // end of view and likes containers
    }
}