@import './breakpoints';
@import './colors';
@import './fonts';



@include mobile {
    .description {
        border-top: 1px solid $mercury;
        margin-right: 0;
        

        &__display {

            &-text {
                margin-top: 1.5rem;
                font-family: avenir-next-regular;
                font-size: 0.8125rem;
                line-height: 1.125rem;
            }
        }
    }

    .number__comments {
        
            &-text {
                font-family: avenir-next-demi;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-top: 2.5rem;
                margin-bottom: 2rem;
            }
        }
}
// end of mobile



// start of tablet
@include tablet {
    .description {
        border-top: 1px solid $mercury;

        &__display {
            width: 30.5rem;
            margin-top: 2.5rem;

            &-text {
                font-family: avenir-next-regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                margin-top: 0;
                margin-bottom: 4rem;
            }
        }
    }

    .number__comments {
        
            &-text {
                font-family: avenir-next-demi;
                font-size: .875rem;
                line-height: 1.375rem;
            }
        }
}
// end of tablet




// start of desktop
@include desktop {
    .description {
        border-top: 2px solid $mercury;

        &__display {
            width: 30.5rem;
            margin-top: 2.5rem;

            &-text {
                font-family: avenir-next-regular;
                font-size: .8125rem;
                line-height: 1.125rem;
                margin-bottom: 4rem;
            }
        }
    }

    .number__comments {
        
            &-text {
                font-family: avenir-next-demi;
                font-size: .875rem;
                line-height: 1.375rem;
            }
        }
}