@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .video__info {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .video__info .video__title {
    margin: 0;
  }
  .video__info .video__title-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: avenir-next-bold;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #323232;
  }
  .video__info .video__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video__info .video__data-subcontainer-one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
  }
  .video__info .video__data-subcontainer-one .video__data-channel {
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-demi;
    font-size: 1rem;
    line-height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .video__info .video__data-subcontainer-one .video__data-date {
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-regular;
    color: #AFAFAF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__info .video__data-views-likes {
    width: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 2.3rem;
    margin-bottom: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-icon {
    margin-right: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 0;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    margin-bottom: 1.5rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-icon {
    margin-right: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}

@media only screen and (min-width: 768px) {
  .video__info {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
  }
  .video__info .video__title {
    font-family: avenir-next-bold;
    margin-left: 0;
    color: #323232;
  }
  .video__info .video__title-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: avenir-next-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .video__info .video__data {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  .video__info .video__data-subcontainer-one {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__info .video__data-subcontainer-one .video__data-channel {
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-demi;
  }
  .video__info .video__data-subcontainer-one .video__data-date {
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-regular;
    color: #AFAFAF;
  }
  .video__info .video__data-views-likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    margin-right: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-icon {
    margin-right: 0.5rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-icon {
    margin-right: 0.5rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
  }
}

@media only screen and (min-width: 1440px) {
  .video__info {
    width: 44.5rem;
    margin-left: 11.25rem;
    margin-right: 0;
  }
  .video__info .video__title {
    color: #323232;
  }
  .video__info .video__title-text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: avenir-next-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
  .video__info .video__data {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  .video__info .video__data-subcontainer-one {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__info .video__data-subcontainer-one .video__data-channel {
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-demi;
  }
  .video__info .video__data-subcontainer-one .video__data-date {
    margin-top: 0;
    margin-bottom: 0;
    font-family: avenir-next-regular;
    color: #AFAFAF;
  }
  .video__info .video__data-views-likes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-style: none;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    margin-right: 1.5rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-icon {
    margin-right: 0.5rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-two .video__data-views-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    margin-right: 2rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-icon {
    margin-right: 0.5rem;
  }
  .video__info .video__data-views-likes .video__data-subcontainer-three .video__data-likes-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline;
    font-family: avenir-next-regular;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .description {
    border-top: 1px solid #E1E1E1;
    margin-right: 0;
  }
  .description__display-text {
    margin-top: 1.5rem;
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  .number__comments-text {
    font-family: avenir-next-demi;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    border-top: 1px solid #E1E1E1;
  }
  .description__display {
    width: 30.5rem;
    margin-top: 2.5rem;
  }
  .description__display-text {
    font-family: avenir-next-regular;
    font-size: .8125rem;
    line-height: 1.125rem;
    margin-top: 0;
    margin-bottom: 4rem;
  }
  .number__comments-text {
    font-family: avenir-next-demi;
    font-size: .875rem;
    line-height: 1.375rem;
  }
}

@media only screen and (min-width: 1440px) {
  .description {
    border-top: 2px solid #E1E1E1;
  }
  .description__display {
    width: 30.5rem;
    margin-top: 2.5rem;
  }
  .description__display-text {
    font-family: avenir-next-regular;
    font-size: .8125rem;
    line-height: 1.125rem;
    margin-bottom: 4rem;
  }
  .number__comments-text {
    font-family: avenir-next-demi;
    font-size: .875rem;
    line-height: 1.375rem;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .input {
    margin-left: 1rem;
    margin-right: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
  .input__title {
    color: #AFAFAF;
    font-family: avenir-next-regular;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
    margin-left: 4.25rem;
  }
  .input .input__use {
    width: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input .input__use-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
    margin-right: 0;
  }
  .input .input__use-box .input__use-text {
    width: 14rem;
    height: 7rem;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    outline: none;
    padding-left: 0.8rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 1rem;
  }
  .input .input__use-box .input__use-text:focus {
    border: 2px solid #0095FF;
  }
  .input .input__use-box .input__use-button {
    width: 14rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: avenir-next-regular;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    background-color: #0095FF;
    border-radius: 4px;
    border-style: none;
  }
  .input__use-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    display: inline;
    background-image: url("../Assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .input {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .input__title {
    color: #AFAFAF;
    font-family: avenir-next-regular;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin: 0;
    margin-top: 2rem;
    margin-left: 4.25rem;
  }
  .input .input__use {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E1E1E1;
  }
  .input .input__use-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 1.3rem;
    display: inline;
    background-image: url("../Assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .input .input__use-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1.5rem;
  }
  .input .input__use-box .input__use-text {
    width: 27.5rem;
    height: 3rem;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    outline: none;
    margin-right: 1rem;
    padding-left: 0.8rem;
    padding-top: 0.5rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input .input__use-box .input__use-text:focus {
    border: 2px solid #0095FF;
  }
  .input .input__use-box .input__use-button {
    width: 10rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    background-color: #0095FF;
    border-radius: 4px;
    border-style: none;
  }
}

@media only screen and (min-width: 1440px) {
  .input {
    width: 44.5rem;
    margin-left: 11.25rem;
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .input__title {
    color: #AFAFAF;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    margin-top: 2rem;
    margin-left: 4.25rem;
    padding-bottom: 0.3rem;
  }
  .input .input__use {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E1E1E1;
  }
  .input .input__use-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-right: 1.3rem;
    background-position: center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .input .input__use-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
  }
  .input .input__use-box .input__use-text {
    width: 27.5rem;
    height: 3rem;
    border: 2px solid #E1E1E1;
    border-radius: 4px;
    outline: none;
    margin-right: 1rem;
    padding-left: 0.8rem;
    font-family: avenir-next-regular;
  }
  .input .input__use-box .input__use-text:focus {
    border: 2px solid #0095FF;
  }
  .input .input__use-box .input__use-button {
    width: 10rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    font-family: avenir-next-demi;
    color: #FFFFFF;
    background-color: #0095FF;
    border-radius: 4px;
    border-style: none;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .comment {
    margin-left: 1rem;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #E1E1E1;
  }
  .comment .comment__image {
    width: 2.5rem;
    height: 2.5em;
    border-radius: 100%;
    background-color: #E1E1E1;
    margin-top: 2rem;
  }
  .comment .comment__sub {
    width: 80%;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .comment .comment__sub-details {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment .comment__sub-details .comment__sub-name {
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin: 0;
  }
  .comment .comment__sub-details .comment__sub-date {
    font-family: avenir-next-regular;
    color: #AFAFAF;
    font-size: .875rem;
    line-height: 1.375rem;
    margin: 0;
  }
  .comment .comment__sub-text {
    font-family: avenir-next-regular;
    font-size: .875rem;
    line-height: 1.375rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .comment {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1.5px solid #E1E1E1;
  }
  .comment .comment__image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #E1E1E1;
    margin-top: 2rem;
  }
  .comment .comment__sub {
    width: 39rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .comment .comment__sub-details {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment .comment__sub-details .comment__sub-name {
    font-family: avenir-next-demi;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    margin-right: .5rem;
  }
  .comment .comment__sub-details .comment__sub-date {
    font-family: avenir-next-regular;
    color: #AFAFAF;
    font-size: .875rem;
    line-height: 1.375rem;
    margin: 0;
  }
  .comment .comment__sub-text {
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .comment {
    width: 44.5rem;
    margin-left: 11.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1.5px solid #E1E1E1;
    margin-right: 0;
  }
  .comment .comment__image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #E1E1E1;
    margin-top: 2rem;
  }
  .comment .comment__sub {
    width: 39rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
  .comment .comment__sub-details {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .comment .comment__sub-details .comment__sub-name {
    font-family: avenir-next-demi;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    margin-right: .5rem;
  }
  .comment .comment__sub-details .comment__sub-date {
    font-family: avenir-next-regular;
    color: #AFAFAF;
    font-size: .875rem;
    line-height: 1.375rem;
    margin: 0;
  }
  .comment .comment__sub-text {
    font-family: avenir-next-regular;
    font-size: .875rem;
    line-height: 1.375rem;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .video__data--link {
    text-decoration: none;
  }
  .video {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
  }
  .video__title {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .video__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__data-image {
    border-radius: 4px;
    margin-left: 0;
  }
  .video__data-actual {
    width: 7.5rem;
    height: 4.375rem;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video__data-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
    width: 100%;
    color: inherit;
    text-decoration: none;
  }
  .video__data-info .video__data-title {
    width: 46.5vw;
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: avenir-next-demi;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .video__data-info .video__data-channel {
    margin: 0;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .video__data--link {
    text-decoration: none;
  }
  .video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .video__title {
    font-family: avenir-next-regular;
    color: #AFAFAF;
    margin-left: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .video__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__data-image {
    border-radius: 4px;
  }
  .video__data-actual {
    width: 7.5rem;
    height: 4.3rem;
    margin-left: 0;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video__data-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.5rem;
    text-decoration: none;
    color: inherit;
    text-decoration: none;
  }
  .video__data-info .video__data-title {
    width: 11.1rem;
    margin: 0;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-decoration: none;
  }
  .video__data-info .video__data-channel {
    margin: 0;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1440px) {
  .video__data--link {
    text-decoration: none;
  }
  .video__data--link .video {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .video__data--link .video__title {
    font-family: avenir-next-regular;
    color: #AFAFAF;
    margin-left: 1.5rem;
  }
  .video__data--link .video__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__data--link .video__data-actual {
    width: 7.5rem;
    height: 4.3rem;
    margin-left: 0;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .video__data--link .video__data-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1.5rem;
    color: inherit;
    text-decoration: none;
  }
  .video__data--link .video__data-info .video__data-title {
    width: 11rem;
    margin: 0;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .video__data--link .video__data-info .video__data-channel {
    margin: 0;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .header {
    height: 10.56rem;
  }
  .header .head {
    height: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .head__logo {
    height: 50%;
  }
  .header .searchbar {
    width: 90%;
    height: 3rem;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .searchbar__icon {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .header .searchbar__input {
    width: 14.5rem;
    height: 2.5rem;
    border: none;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
    outline: none;
  }
  .user {
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user .user__upload-btn {
    width: 77%;
    height: 3rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-family: avenir-next-regular;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
    outline: none;
    margin-top: 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user__upload-btn:hover {
    background-color: #0065AD;
  }
  .user .user__image {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    border-radius: 70%;
    background-image: url("../Assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .user__upload-icon {
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header .head {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .head__logo {
    height: 50%;
  }
  .header__functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .searchbar {
    width: 100%;
    height: 3rem;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10.56rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .searchbar__icon {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .header .searchbar__input {
    width: 10rem;
    height: 2.5rem;
    border: none;
    font-family: avenir-next-regular;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #323232;
    outline: none;
  }
  .header .user {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .user__upload-btn:hover {
    background-color: #0065AD;
  }
  .header .user__image {
    width: 3rem;
    height: 3rem;
    border-radius: 70%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../Assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .user__upload-btn {
    width: 6.25rem;
    height: 3rem;
    background-color: #0095FF;
    color: #FFFFFF;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border-radius: 4px;
    outline: none;
    margin-right: 1.5rem;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user__upload-icon {
    margin-right: 0.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 11.25rem;
    margin-right: 11.25rem;
  }
  .header .head {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .head__logo {
    height: 50%;
  }
  .header__functions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__functions .searchbar {
    width: 15.75rem;
    height: 3rem;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 31.81rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__functions .searchbar__icon {
    margin-left: 1rem;
    margin-right: 0.5rem;
  }
  .header__functions .searchbar__input {
    width: 10rem;
    border: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #323232;
  }
  .header__functions .user {
    height: 4rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__functions .user__upload-btn {
    width: 6.4375rem;
    height: 3rem;
    background-color: #0095FF;
    font-family: avenir-next-regular;
    color: #FFFFFF;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border-radius: 4px;
    outline: none;
    margin-right: 1.5rem;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__functions .user__upload-btn:hover {
    background-color: #0065AD;
  }
  .header__functions .user__image {
    width: 3rem;
    height: 3rem;
    border-radius: 70%;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../Assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .hero .hero__video {
    width: 100vw;
    height: 11.43rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    width: 100%;
    height: 25rem;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero__video {
    width: 43.75rem;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    width: 100%;
    height: 33.75rem;
    background-color: #323232;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .hero__video {
    width: 59rem;
    height: 100%;
    margin-left: 11.25rem;
    margin-right: 11.25rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@font-face {
  font-family: avenir-next-regular;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: avenir-next-demi;
  src: url("../Assets/GlobalFont/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: avenir-next-bold;
  src: url("../Assets/GlobalFont/Linotype - AvenirNextLTPro-Bold.otf");
}

@media only screen and (max-width: 767px) {
  .upload__container {
    border-top: 1px solid #E1E1E1;
  }
  .upload {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .upload .upload__title {
    font-family: avenir-next-bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .upload__content .upload__thumbnail-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin: 0;
  }
  .upload__content .upload__thumbnail-image {
    width: 18rem;
    height: 9.5625rem;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .upload__content .upload__details .upload__details-title {
    margin-top: 2rem;
  }
  .upload__content .upload__details .upload__details-title-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin: 0;
    margin-bottom: .3rem;
  }
  .upload__content .upload__details .upload__details-title-input {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .upload__content .upload__details .upload__details-description {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .upload__content .upload__details .upload__details-description-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin: 0;
    margin-bottom: .3rem;
  }
  .upload__content .upload__details .upload__details-description-input {
    width: 100%;
    height: 8.9375rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .upload__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upload__options-publish {
    width: 100%;
    height: 3rem;
    background-color: #0095FF;
    border-radius: 4px;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    border: none;
    outline: none;
  }
  .upload__options-publish:hover {
    background-color: #0065AD;
    outline: none;
  }
  .upload__options-cancel {
    width: 100%;
    height: 3rem;
    padding-top: 1.5rem;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #0095FF;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border: none;
  }
}

@media only screen and (min-width: 768px) {
  .upload__container {
    border-top: 1px solid #E1E1E1;
  }
  .upload {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .upload .upload__title {
    font-family: avenir-next-bold;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .upload__content {
    border-top: 1.5px solid #E1E1E1;
  }
  .upload__content .upload__thumbnail {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .upload__content .upload__thumbnail .upload__thumbnail-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  .upload__content .upload__thumbnail .upload__thumbnail-image {
    width: 21.5rem;
    height: 11.4375rem;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .upload__content .upload__details {
    border-bottom: 1px solid #E1E1E1;
  }
  .upload__content .upload__details .upload__details-title-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  .upload__content .upload__details .upload__details-title-input {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .upload__content .upload__details .upload__details-description {
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }
  .upload__content .upload__details .upload__details-description-text {
    font-family: avenir-next-regular;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    color: #AFAFAF;
    margin-top: .3rem;
    margin-bottom: .3rem;
  }
  .upload__content .upload__details .upload__details-description-input {
    width: 100%;
    height: 8.9375rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .upload__options {
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .upload__options-publish {
    width: 10rem;
    height: 3rem;
    background-color: #0095FF;
    border-radius: 4px;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    border: none;
    outline: none;
  }
  .upload__options-publish:hover {
    background-color: #0065AD;
    outline: none;
  }
  .upload__options-cancel {
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #0095FF;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1440px) {
  .upload__container {
    border-top: 1px solid #E1E1E1;
  }
  .upload {
    margin-left: 11.25rem;
    margin-right: 11.25rem;
  }
  .upload .upload__title {
    font-family: avenir-next-bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .upload__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 2px solid #E1E1E1;
    border-bottom: 1.5px solid #E1E1E1;
  }
  .upload__content .upload__thumbnail {
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 1.5rem;
  }
  .upload__content .upload__thumbnail .upload__thumbnail-text {
    margin: 0;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
  .upload__content .upload__thumbnail .upload__thumbnail-image {
    width: 21.5rem;
    height: 11.4375rem;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .upload__content .upload__details {
    width: 100%;
    border-bottom: none;
  }
  .upload__content .upload__details .upload__details-title {
    margin-top: 2.5rem;
  }
  .upload__content .upload__details .upload__details-title-text {
    margin: 0;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
  .upload__content .upload__details .upload__details-title-input {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .upload__content .upload__details .upload__details-description {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
  }
  .upload__content .upload__details .upload__details-description-text {
    margin: 0;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #AFAFAF;
  }
  .upload__content .upload__details .upload__details-description-input {
    width: 100%;
    height: 5.875rem;
    border-radius: 4px;
    border: 1.5px solid #E1E1E1;
    padding-top: 1rem;
    padding-left: 1rem;
    font-family: avenir-next-regular;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #323232;
  }
  .upload__options {
    margin-top: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .upload__options-publish {
    width: 10rem;
    height: 3rem;
    background-color: #0095FF;
    border-radius: 4px;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    border: none;
    outline: none;
  }
  .upload__options-publish:hover {
    background-color: #0065AD;
    outline: none;
  }
  .upload__options-cancel {
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #0095FF;
    font-family: avenir-next-demi;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@media only screen and (min-width: 1440px) {
  .video__data-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .video__data-container .video__info-holder {
    margin-right: 0;
  }
  .video__data-container .next__videos-holder {
    width: 100%;
    border-left: 1px solid #E1E1E1;
  }
}
/*# sourceMappingURL=main.css.map */