@import './partials/header';
@import './partials/hero';
@import './partials/video-info';
@import './partials/description';
@import './partials/user-input';
@import './partials/comments';
@import './partials/videos';

html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}